/* Third Section */
.third-hightlight-wrapper {
    background-image: url("../../../assets/images/home/iphone11-pro-bg.jpg");
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 65px 20px;
    color: #fff;
}

.title-wraper {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.15em;
    letter-spacing: -0.04em;
}

.title-wraper.bold {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.15em;
    letter-spacing: -0.04em;
}

.description-wrapper {
    font-size: 26px;
    padding: 10px 0;
}

.price-wrapper {
    font-size: 26px;
    padding: 10px 0;
}

.links-wrapper {
    padding: 15px 0;
}

.links-wrapper ul {
    list-style: none;
}

.links-wrapper ul li {
    display: inline-block;
    padding-right: 20px;
}

.links-wrapper ul li a {
    color: #06c;
    text-decoration: none;
    font-size: 21px;
}

.links-wrapper ul li a:hover {
    color: #000;
}

.links-wrapper ul li a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f105";
    padding-left: 10px;
}

/* Media Query for Desktop */
@media (min-width: 768px) {
    .title-wraper.bold {
        font-size: 56px;
    }
}