/* Fourth Section */
.fourth-heghlight-wrapper .left-side-wrapper .left-side-container {
    background-image: url("../../../assets/images/home/iphone11-colored.jpg");
    background-color: #000;
    padding-top: 35px;
    margin: 0 0 10px 0;
    background-size: cover;
}

.fourth-heghlight-wrapper .right-side-wrapper .right-side-container {
    background-image: url("../../../assets/images/home/apple-blue-logo.jpg");
    background-color: #165ca9;
    background-position: bottom;
    padding-top: 35px;
    margin: 0 0 10px 0;
    background-size: auto;
}

.left-side-container {
    min-height: 515px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.right-side-container {
    min-height: 515px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.left-side-wrapper {
    padding-right: 0px;
    padding-left: 0px;
}

.right-side-wrapper {
    padding-right: 0px;
    padding-left: 0px;
}

.title-wraper {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.15em;
    letter-spacing: -0.04em;
}

.description-wraper {
    font-size: 26px;
    padding: 10px 0;
}

.price-wrapper {
    font-size: 26px;
    padding: 10px 0;
}

.links-wrapper {
    padding: 15px 0;
}

.links-wrapper ul {
    list-style: none;
}

.links-wrapper ul li {
    display: inline-block;
    padding-right: 20px;
}

.links-wrapper ul li a {
    color: #06c;
    text-decoration: none;
    font-size: 21px;
}

.links-wrapper ul li a:hover {
    color: #000;
}

.links-wrapper ul li a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f105";
    padding-left: 10px;
}

.links-wrapper.white li a {
    color: #fff;
}

.fourth-heghlight-wrapper .right-side-wrapper .title-wraper {
    max-width: 380px;
    margin: 0 auto;
}

/* Media Query for Desktop */
@media (min-width: 768px) {
    .fourth-heghlight-wrapper .left-side-wrapper .left-side-container {
        margin: 10px 5px 5px 10px;
    }

    .fourth-heghlight-wrapper .right-side-wrapper .right-side-container {
        margin: 10px 10px 5px 5px;
    }

    .title-wraper.bold {
        font-size: 56px;
    }
}